*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
}

h2{
    font-size: 3rem;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.tic{
  color: rgb(255, 70, 37);
}

.tac{
  color: rgb(44, 135, 255);
}

.dash{
  color: rgb(44, 135, 255);
}

h4{
  font-size: 1rem;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  margin: auto;
  text-align: center;
}